<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.PurchaseOrderMapper">

    <resultMap id="PurchaseOrder" type="com.lframework.xingyun.sc.entity.PurchaseOrder">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="purchaser_id" property="purchaserId"/>
        <result column="expect_arrive_date" property="expectArriveDate"/>
        <result column="total_num" property="totalNum"/>
        <result column="total_gift_num" property="totalGiftNum"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="approve_by" property="approveBy"/>
        <result column="approve_time" property="approveTime"/>
        <result column="status" property="status"/>
        <result column="refuse_reason" property="refuseReason"/>
    </resultMap>

    <resultMap id="PurchaseOrderFullDto" type="com.lframework.xingyun.sc.dto.purchase.PurchaseOrderFullDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="purchaser_id" property="purchaserId"/>
        <result column="expect_arrive_date" property="expectArriveDate"/>
        <result column="total_num" property="totalNum"/>
        <result column="total_gift_num" property="totalGiftNum"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="approve_by" property="approveBy"/>
        <result column="approve_time" property="approveTime"/>
        <result column="status" property="status"/>
        <result column="refuse_reason" property="refuseReason"/>
        <collection property="details" javaType="java.util.ArrayList" ofType="com.lframework.xingyun.sc.dto.purchase.PurchaseOrderFullDto$OrderDetailDto">
            <id column="detail_id" property="id"/>
            <result column="detail_product_id" property="productId"/>
            <result column="detail_order_num" property="orderNum"/>
            <result column="detail_tax_price" property="taxPrice"/>
            <result column="detail_is_gift" property="isGift"/>
            <result column="detail_tax_rate" property="taxRate"/>
            <result column="detail_description" property="description"/>
            <result column="detail_order_no" property="orderNo"/>
        </collection>
    </resultMap>

    <resultMap id="PurchaseOrderWithReceiveDto" type="com.lframework.xingyun.sc.dto.purchase.PurchaseOrderWithReceiveDto">
        <id column="id" property="id"/>
        <result column="sc_id" property="scId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="purchaser_id" property="purchaserId"/>
        <collection property="details" ofType="com.lframework.xingyun.sc.dto.purchase.PurchaseOrderWithReceiveDto$DetailDto" javaType="java.util.ArrayList">
            <id column="detail_id" property="id"/>
            <result column="detail_product_id" property="productId"/>
            <result column="detail_order_num" property="orderNum"/>
            <result column="detail_tax_price" property="taxPrice"/>
            <result column="detail_is_gift" property="isGift"/>
            <result column="detail_tax_rate" property="taxRate"/>
            <result column="detail_description" property="description"/>
            <result column="detail_order_no" property="orderNo"/>
            <result column="detail_receive_num" property="receiveNum"/>
        </collection>
    </resultMap>


</mapper>
